@charset "UFT-8";

:root {
    --cor1: #613229;
    --cor2: #E6B0A5;
    --cor3: #E0735D;
    --cor4: #614A46;
    --cor5: #AD5A49;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    text-align: center;
    padding: 15px;
    background-color: var(--cor1);
    color: white;
}

body {
    background-color: var(--cor2);
}

p {
    padding-bottom: 10px;
}

section {
    max-width: 700px;
    margin: auto;
    background-color: white;
}

section div {
    padding: 10px;
    
}

#vendas caption {
    border: 1px solid black;
    color: white;
    font-weight: bolder;
    padding: 5px;
    background-color: var(--cor5);
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.438);
}

#rolagem {
    overflow-x: auto;
    
}

table {
    margin: auto;
    border-collapse: collapse;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.493);
}

tbody {
    text-align: center;
}

td, th {
    width: 80px;
    padding: 5px;
    border: 1px solid black;
}